# Android Studio / IntelliJ
*.iml
.idea/
.gradle/
local.properties

# Build outputs
/build/
*/build/
captures/
.externalNativeBuild/
.cxx/

# OS files
.DS_Store
Thumbs.db

# Keystore & release artifacts
*.jks
*.keystore
*.aab
*.apk

# Log and cache files
*.log
*.tmp

# Misc
*.orig
